@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');
:root {
    --general-padding: 60px;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* background: #CBC3BE; */
    font-family: 'Open Sans', sans-serif;
}

/* */

/* PRE HEADER */

.pre-header {
    display: flex;
    align-items: center;
    width: 100%;
    height: 25px;
    padding: 0 20px;
    background: #CC0F24;
    color: #FFF;
    font-size: 15px;
}

/****************/

header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
    /* background: #B32113; */
    /* background: #EE0000; */
    background: #FFF;
    /* color: #EE0000; */
    /* color: #31145c; */
    /* border-bottom: 1px solid gray; */
    /* background-image: url(./images/pictures/metal.jpg); */
    
}

.background {
    position: absolute;
    left: 0;
    opacity: 0.3;
    /* background-image: url(./images/pictures/brushed-metal.jpg); */
    width: 100%;
    height: 100%;
    z-index: 2;
}

.logo {
    width: 200px;
    height: 100%;
}

/* WELCOME */

.welcome {
    position: relative;
    /* height: calc(100vh - 100px);

    text-align: center;
    background: ;

    background-image: url(../as.jpg) */
    /* background-image: url("./header.png"); */
}

.welcome__picture {
    
    width: 100%;
    max-height: 450px;
    object-fit: cover;
}

.quote-with-us {
    position: absolute;
    top: 25%;
    left: 0;
    padding: 10px 20px;
    background: #CC0F24;
    color: #FFF;
    border: none;
    border-radius: 0 3px 3px 0;
}

.test {
    background: ;
    color: #151414 !important;
    text-align: justify;
}

.welcome-information {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* padding: var(--general-padding); */
}

.welcome-information>* {
    margin: 0 60px;
}

.welcome .text {
    position: relative;
}

.decor {
    /* position: absolute;
    top: 0;
    left: -500px;
    width: 1500px;
    height: 100%;
    background: #447AAB;
    overflow-x: hidden; */
}

.banner {
    width: 100%;
    height: 5px;
    margin-bottom: 10px;
    background: #151414;
}

/* .banner {
    position: absolute;
    top: 0;

    width: 100%;
    height: 15px;

    background: #151414;

    z-index: 3;
} */

.transparent {
    width: 300px;
    background: ;
    z-index: 2;
    /* margin-left: 200px; */
}

.top {
    position: absolute;
    left: ;
    top: 0;
    width: 100%;
    opacity: 0.3;
    object-fit: cover;
    z-index: -1;
}

/* CORPORATE INFORMATION */

.corporate-information {
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex: 1; */
    /* background: orange; */
}

/* NAVBAR */

.navbar {
    /* flex: 1; */
    /* width: 50%; */
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    /* display: flex;
    justify-content: center;
    flex: 1; */
    padding: 0 20px;
    display: grid;
    grid-template-columns: 3(repeat, 1fr);
    list-style: none;
    border-left: 1px solid black;
}

.navbar ul li:first-child {
    border-left: none;
}

.navbar ul li a {
    /* color: #FFF; */
    text-decoration: none;
    font-size: 15px;
}

/** PRE SECTION **/

.pre-section {
    display: flex;
}

.product {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    margin-left: 2px;
    background: ;
}

.product:hover>.product--dim, .product:hover>.product--decor {
    display: none;
}

.product:first-child {
    margin-left: 0;
}

.pre-section__picture {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.product--dim {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0.7;
    z-index: 3;
}

.product--decor {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    top: 50%;
    background: ;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 23px;
    font-weight: 800;
    color: #FFF;
    z-index: 4;
}

/*****************/

/** SECTION A **/

.section-a {
    position: relative;
    /* height: 350px; */
    /* background: #FFF; */
    /* background: lightblue; */
    background: #151414;
    text-align: center;
}

.service {
    position: relative;

    display: flex;
    /* align-items: center;
    text-align: center; */
    padding: 45px 70px;
    /* background: #151414;
    color: #FFF; */
    background: #FFF;
    color: #151414;
    /* color: #FFF; */
    overflow-y: hidden;

}

.context {
    z-index: 5;
}

.context h3 {
    margin-bottom: 25px;
    background: ;

    z-index: 5;
}

.service:nth-child(odd) {
    /* background: #FFF;
    color: #151414; */
    /* background: #FFF;
    color: #151414; */
    background: #151414;
    color: #FFF;
}

.service:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.service h3 {
    text-align: center;
}

.service img {
    /* width: 50px; */
    /* border-radius: 50%; */
}

.service__picture {
    width: 20px;
    z-index: 7;
}

.context {
    flex: 1;
    text-align: justify;
}

.picture {
    flex: 1;

    z-index: 5;
}

.picture img {
    width: 350px;
    height: 350px;
    object-fit: cover;
    border-radius: 50%;
}

.overlay {
    position: absolute;
    bottom: 20%;
    width: 100%;
    height: 100px;
    /* background: red; */
}

.big {
    font-size: 40px;
    /* color: #FFF; */
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-image: ;
}

.service__cover {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    

    opacity: 0.1;
    
    z-index: 1;
}

.service__test {
    position: absolute;
    right: 0;

    height: 100%;

    opacity: 0.2;
}

/** SECTION B **/

.section-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 350px;
    /* background: #A6A6AB; */
    background: #FFF;
}

.placeholder {
    width: 15%;
    height: 50%;
    background: #FFF;
    object-fit: contain;
}

/** SECTION C **/



/** BRANDS **/

.brands {
    text-align: center;
}

.brands h1 {
    margin-bottom: 40px;
}

.brands__row {

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0 150px;

}

.brands__logo {
    width: 150px;
}

/** FOOTER **/

.footer {
    padding: var(--general-padding);
    background: #151414;
    color: #FFF;
}

.footer-container {
    /* display: flex;
    justify-content: space-between; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* padding: var(--general-padding); */
}

.footer-item {
    display: flex;
    align-items: center;
}

.footer-separator {
    width: 100%;
    height: 1px;
    margin: 10px 0;
    background: red;
}

.footer .logo {
    width: 200px;
    height: auto;
}

/* OLD FOOTER */

.left, .center, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-right: auto;
}

.center {
    /* display: none; */
}

.contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aside {
    display: flex;
    align-items: flex-start;
}

.aside img {
    /* padding: 10px; */
    padding: 5px 10px 0 0;
}

/*************/

/**********************/

/* CODE NOT MINE */

#slider {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 0;
    margin: 0;
    margin-top: 30px;
    margin-bottom: 30px;
    background: ;
}

.slide {
    /* we position the slide absolutely compared to its parent #slider */
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    /* change the value for a faster or slower transition between slides */
    -webkit-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

/* class to show the current slide */

.showing {
    opacity: 1;
    z-index: 2;
}

.slide-text {
    background-color: white;
    border-radius: 10px;
    margin: auto;
    padding: 40px;
    padding-left: 60px;
    position: relative;
}

/* create the notch */

.slide-text:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    left: calc(50%);
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 26px 0 0;
    border-color: white transparent transparent transparent;
}

/* align the testimonial in the center */

.slide-img {
    margin: 10px;
}

.slide-img img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 4px solid white;
}

.slide-person {
    margin-left: 20px;
}

.slide-person p {
    padding: 5px;
}

/* make the name of the person bold */

.slide-person p:first-of-type {
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
}

/* make their job title light gray */

.slide-person p:last-of-type {
    color: var(--color-light-gray);
}

/* position the buttons and make them green */

.slider-button {
    cursor: pointer;
    color: white;
    font-weight: bold;
    width: 40px;
    height: 40px;
    background-color: var(--color-highlight-green);
    z-index: 3;
    position: absolute;
    text-align: center;
    border-radius: 20%;
    -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

/*posion the left an right button horizontally */

.button-left {
    position: absolute;
    left: -10px;
}

.button-right {
    position: absolute;
    right: -10px;
}

/** PRODUCT CARD **/

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 400px;
    height: 100%;
    margin: auto;
    padding: 50px;
    text-align: center;
    font-family: arial;
}

.price {
    color: grey;
    font-size: 22px;
}

.card button {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

/****** HEADER *****/

/* @media screen and (min-width: 1500px) {
    header{
        padding-left: 15% !important;
        padding-right: 15% !important;
    }
}


@media screen and (min-width: 800px) {
    header{
        padding-left: 11%;
        padding-right: 11%;
    }
}



header{
    height: ;
    transition: height 2s, padding 2s;

}

.topnav {
    display: flex;
    align-items: center;

    overflow: hidden;
    background-color: #FFF;

    color: #151414;

    padding: ;
}

.topnav .navlist{
    float: right;
}

.navlist{
    transition: transform 5s;
}

.navlist a {
    float: left;
    display: block;
    color: #151414;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navlist a:hover:not(:first-child) {
    background-color: #ddd;
    color: black;
}

.active {
    background-color: #904A4E;
    color: white;
}

.topnav a.icon {
    position: absolute;
    right: -47px;
    transition: transform 3s;
    top: 0px;
} */

/* .logo{
    height: 30px;
    float: left;
    padding: 9px;
    padding-left: 3%;
    padding-right: 3%;
} */

/* .cursor0{
    cursor: default;
}

.navlist a:not(.icon){
    display: block;
    transition: transform 2s, opacity 1s, visibility 1s;
}



@media screen and (max-width: 600px) {

    .navlist a:not(.icon) {
        transform: translateX(500px);
        opacity: 0;
        visibility: hidden;
    }

    .topnav a.icon {
        visibility: visible;
        float: right;
        transform: translateX(-47px);
    }

    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
        position: absolute;
        top: 0;
        transform: translateX(-47px);
    }
    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
        transform: translateX(0px);
        opacity: 1;
        visibility: visible;
    }

    .topnav.responsive .navlist{
        float: none;
    }
} */