@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #CBC3BE;
    font-family: 'Open Sans', sans-serif;
}

/* */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    /* background: #B32113; */
    /* background: #EE0000; */
    background: #FFF;
    /* color: #EE0000; */
    color: #31145c;
    border-bottom: 1px solid gray;
}

/* WELCOME */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background: orange;
}

/* CORPORATE INFORMATION */

.corporate-information {
    flex: 1;
}

/* NAVBAR */

.navbar {
    flex: 1;
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar ul li {
    display: flex;
    justify-content: center;
    flex: 1;
    list-style: none;
    border-left: 1px solid black;
}

.navbar ul li:first-child {
    border-left: none;
}

.navbar ul li a {
    /* color: #FFF; */
    text-decoration: none;
    font-size: 15px;
}

/** SECTION A **/

.section-a {
    position: relative;
    /* height: 350px; */
    /* background: #FFF; */
    /* background: lightblue; */

    text-align: center;
}

.service {
    display: flex;
    text-align: center;
    padding: 0 70px;

    
}

.service:nth-child(even) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    flex-direction: row-reverse;
}

.service img {
    width: 350px
    
}

.context {
    flex: 1;
}

.picture {
    flex: 1;
}

.overlay {
    position: absolute;
    bottom: 20%;
    width: 100%;
    height: 100px;
    /* background: red; */
}

.big {
    font-size: 40px;
    /* color: #FFF; */
}

.cover {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-image: ;
}

/** SECTION B **/

.section-b {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 40px;
    height: 350px;
    /* background: #A6A6AB; */
    background: #FFF;
}

.placeholder {
    width: 15%;
    height: 50%;
    background: #FFF;
    object-fit: contain;
}

/** SECTION C **/

/** FOOTER **/

footer {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr); */
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    /* height: 350px; */
    /* background: #EE0000; */
    background: #FFF;
    /* color: #FFF; */
    color: #31145c;
    border-top: 1px solid gray;
}

.left, .center, .right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    margin-right: auto;
}

.center {
    display: none;
}

.contact-us {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.aside {
    display: flex;
    align-items: flex-start;
}

.aside img {
    /* padding: 10px; */
    padding: 5px 10px 0 0;
}